/* ==========================================================================
LESS variables
========================================================================== */
/* Less prefixer */
/* Colors */
/* Typography */
/* Bootstrap breakpoints */
/* ==========================================================================
Global style
========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F3F1E4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  color: #333;
  font-size: 14px;
}
a,
a:hover,
a:active,
a:visited {
  color: #428BCA;
}
img {
  height: auto;
  max-width: 100%;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
a.logo {
  font-family: Kaushan Script;
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  display: block;
}
.bold {
  font-weight: bold;
}
/* ==========================================================================
Navigation
========================================================================== */
.navbar-default {
  background: #5B9DF4;
  padding: 15px 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
.navbar-default .caret {
  margin-bottom: 3px;
}
.navbar-default .logo {
  margin: 7px 0 0 15px;
}
.navbar-default .navbar-nav > .active > a {
  background: none;
  color: white;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #4E71B9;
  background: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-default .navbar-nav > .active > a:hover {
  background: none !important;
}
.navbar-default .navbar-toggle:hover {
  background: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-default .navbar-form {
  float: right;
  border: none;
  box-shadow: none;
  margin: 11px 0 0 0;
  display: none;
}
.navbar-default .navbar-form .form-control {
  transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: inset 0px -1px rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  background: #6280BF;
  padding-left: 15px;
  color: white;
  width: 250px;
  border: 0;
}
.navbar-default .navbar-form .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.navbar-default .navbar-form .expand {
  width: 400px;
}
.navbar-default .search {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
}
.navbar-default .search .fa-search {
  color: white;
  position: absolute;
  top: 34%;
  left: 64%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.navbar-default .search:hover .fa-search {
  font-size: 2.5em;
}
@media (min-width: 800px) {
  .navbar-default .search {
    display: block;
  }
  .navbar-default .navbar-form {
    display: block;
  }
}
/* ==========================================================================
Header
========================================================================== */
.header {
  background-size: cover;
  height: 500px;
  width: 100%;
  background-position: center;
}
.sort-bar {
  background: white;
  border-top: 1px solid #CBCBCB;
  border-bottom: 1px solid #CBCBCB;
  padding: 20px 0;
}
.sort-bar ul {
  margin: 0;
  text-transform: uppercase;
}
.sort-bar ul li {
  cursor: pointer;
}
.sort-bar .col-sm-8 {
  border-bottom: 1px solid #CBCBCB;
  padding-bottom: 20px;
}
.sort-bar .col-sm-4 {
  padding-top: 20px;
}
.sort-bar .col-sm-4 ul li {
  font-weight: bold;
}
.sort-bar .fa-times-circle {
  background: #4E8EC3;
  color: white;
  padding: 5px 7px 4px 4px;
  border-radius: 35px 0 0 35px;
}
.sort-bar .fa-filter {
  cursor: pointer;
  display: inline-block;
  background: #4E8EC3;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  padding: 15px;
  position: absolute;
  right: 15px;
  bottom: -43px;
  border: 5px solid #F3F1E4;
  color: white;
}
.sort-bar .active.toggle-sort {
  background: #4E8EC3;
  color: white;
  border-radius: 0 35px 35px 0;
  padding: 2px 9px 1px 4px;
  float: right;
}
.sort-bar .active.toggle-sort .fa-sort-desc,
.sort-bar .active.toggle-sort .fa-sort-asc {
  float: right;
  margin-left: 10px;
  margin-top: -1px;
}
.sort-bar .active.toggle-sort .fa-sort-asc {
  margin-top: 14px;
  line-height: 0;
}
@media (min-width: 768px) {
  .sort-bar .col-sm-8 {
    border-bottom: none;
    padding-bottom: 0;
  }
  .sort-bar .col-sm-4 {
    padding-top: 0;
  }
  .sort-bar .fa-filter {
    display: none;
  }
}
/* ==========================================================================
Index page
========================================================================== */
.vacation-item {
  border-radius: 0;
  margin-bottom: 30px;
  background: white;
}
.vacation-item .placeholder-img {
  width: 100%;
  height: 175px;
  background-size: cover;
  position: relative;
}
.vacation-item .placeholder-img .star-rating {
  color: #F7CE45;
  padding: 10px 0 0 10px;
}
.vacation-item .placeholder-img .star-rating .fa {
  margin-right: 5px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.vacation-item .placeholder-img .pricing {
  background: #568DE8;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 7px 20px;
  font-family: Oxygen;
  font-size: 16px;
  margin: 0;
}
.vacation-item .content {
  padding: 20px;
  min-height: 142px;
}
.vacation-item .content h2 {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #676767;
  margin-top: 0;
}
.vacation-item .content p {
  color: #AAA;
  font-size: 13px;
  margin-bottom: 0;
}
.vacation-item a:hover {
  text-decoration: none;
}
.main-content {
  position: relative;
  /* Same padding as the sidebar */
}
.main-content .wrapper {
  padding-left: 0;
  min-height: 800px;
  transition: all 250ms linear;
}
.main-content .wrapper .container {
  width: 100%;
}
.main-content .main-search-wrapper {
  position: relative;
  margin-top: 50px;
  margin-right: -15px;
  margin-bottom: 50px;
  margin-left: -15px;
}
.main-content .main-search-wrapper .fa-search {
  position: absolute;
  top: 8px;
  left: 15px;
}
.main-content .main-search-wrapper .fa {
  color: #AAA;
}
.main-content .main-search-wrapper input {
  width: 100%;
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #AAAAAA;
  padding: 5px 0 5px 40px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 24px;
}
.main-content .main-search-wrapper input:focus {
  outline: none;
}
.main-content .main-search-wrapper .view-options {
  margin-top: 10px;
  text-align: right;
}
.main-content .main-search-wrapper .view-options .fa {
  margin-left: 10px;
  cursor: pointer;
}
.main-content .main-search-wrapper .view-options .active {
  color: #4E8EC3;
}
.main-content .list-view .vacation-item {
  float: left;
  width: 100%;
  height: auto;
}
.main-content .list-view .col-md-3 {
  padding: 0;
}
.no-results h2 {
  color: #B1AFA3;
  font-family: Oxygen;
  font-size: 24px;
  line-height: 1.6;
  margin-top: 0;
}
@media (min-width: 1755px) {
  /* Same padding as the sidebar */
  .main-content .wrapper {
    padding-left: 0px;
  }
  .main-content .wrapper .container {
    width: 1170px;
  }
}
/* ==========================================================================
Index Sidebar
========================================================================== */
aside {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -300px;
  width: 300px;
  height: 110%;
  background: #FFC54A;
  text-align: center;
  transition: all 250ms linear;
}
aside.active {
  left: 0;
}
aside .btn {
  margin: 60px auto 0px auto;
  background: #d2af3b;
  color: white;
  font-family: Oxygen;
  border-radius: 25px;
  font-weight: 300;
  padding: 6px 20px;
  display: inline-block;
  text-align: center;
  text-spacing: 1px;
  letter-spacing: 0.08em;
}
aside .filter {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 30px 30px 30px;
}
aside .filter:last-child {
  border: none;
}
aside .filter h3 {
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 1em;
  float: left;
}
aside .filter .filter-count {
  float: right;
  margin: 1em 0;
  background: #4E8EC3;
  color: white;
  border-radius: 35px;
  padding: 2px 12px;
}
aside .filter ul {
  padding-left: 16px;
}
aside .filter ul li {
  margin-bottom: 10px;
}
aside .filter .show-more {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #7F6232;
  margin-top: 15px;
}
aside .filter .countries li.active {
  background: #4E8EC3;
  border-radius: 35px;
  padding: 3px 20px;
  color: white;
  margin-bottom: 7px;
}
aside .filter .countries li:hover {
  cursor: pointer;
}
aside .star-rating label {
  display: block;
  margin-bottom: 12px;
}
aside .star-rating .fa-star {
  color: #CBA049;
  margin-right: 3px;
}
aside .star-rating .checkbox input[type="checkbox"] {
  margin-left: 0;
}
@media (min-width: 800px) {
  aside {
    left: 0;
  }
  .main-content .wrapper {
    padding-left: 300px;
  }
}
/* ==========================================================================
Vakantie pagina(single)
========================================================================== */
.node-type-vakantie .vacation-header {
  height: 500px;
  background: url(../img/vacation-header.jpg) center center;
  background-size: cover;
  position: relative;
}
.node-type-vakantie .vacation-header h1 {
  color: white;
}
.node-type-vakantie .vacation {
  background: white;
  padding: 40px;
  line-height: 1.8em;
}
.node-type-vakantie .vacation h3 {
  margin-top: 30px;
}
.node-type-vakantie a.call-to-action {
  display: block;
  background: #5B9DF4;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-radius: 5px;
  font-size: 18px;
  position: relative;
  margin-top: 20px;
}
.node-type-vakantie a.call-to-action:hover {
  color: white;
}
.node-type-vakantie a.call-to-action .inner {
  background: #4D86D0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.4);
}
.node-type-vakantie a.call-to-action .inner .fa-plane {
  margin-left: 10px;
}
.node-type-vakantie a.call-to-action .circle {
  background: #FF6255;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  width: 50px;
  height: 50px;
  border: 5px solid #F3F1E4;
}
.node-type-vakantie a.call-to-action .circle .fa-arrow-right {
  margin: 11px 0 0 3px;
}
.node-type-vakantie .travel-information {
  margin: -123px 0 0 0;
  background: white;
  border-bottom: 1px solid lightgrey;
}
.node-type-vakantie .travel-information .col-md-3 {
  padding: 40px 0;
  border-right: 1px solid lightgrey;
}
.node-type-vakantie .travel-information .col-md-3:last-child {
  border-right: none;
}
.node-type-vakantie .travel-information .col-md-3 .fa {
  color: #5B9DF4;
  margin-right: 10px;
}
.node-type-vakantie .travel-information .col-md-3 .travel-metadata {
  display: inline-block;
  text-align: left;
  font-family: Oxygen;
}
.node-type-vakantie .travel-information .col-md-3 .travel-metadata .title {
  color: #95989A;
}
.node-type-vakantie .travel-information .col-md-3 .travel-metadata .attribute {
  font-weight: bold;
}
.node-type-vakantie .pricing {
  text-align: center;
  color: white;
  font-family: Oxygen;
  margin: -124px 0 57px 0;
}
.node-type-vakantie .pricing .price {
  background: #5B9DF4;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
  font-size: 22px;
}
.node-type-vakantie .pricing .person {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
  font-size: 18px;
}
.node-type-vakantie .weather {
  margin-top: 30px;
  font-family: Oxygen;
}
.node-type-vakantie .weather .current-weather {
  border-radius: 5px 5px 0 0;
  background: #FFCA5C;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.node-type-vakantie .weather .forecast {
  float: left;
  padding: 0;
  list-style: none;
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 30px;
}
.node-type-vakantie .weather .forecast li {
  line-height: 50px;
  float: left;
  width: 100%;
}
.node-type-vakantie .weather .forecast li .day {
  display: inline-block;
  color: #676767;
}
.node-type-vakantie .weather .forecast li .temp {
  float: right;
  margin-right: 40px;
  font-weight: bold;
}
.node-type-vakantie .weather .forecast li img {
  float: right;
}
.node-type-vakantie .related-vacations-header h3 {
  margin: 2em 0 1em 0;
  font-family: Oxygen;
  font-weight: lighter;
  color: #84816D;
  font-size: 1.4em;
}
/* ==========================================================================
Reisaanbieder pagina
========================================================================== */
.node-type-reisaanbieder .agency-header {
  height: 600px;
  background: url(../img/agency-header.jpg) center 70%;
  background-size: cover;
  position: relative;
}
.node-type-reisaanbieder .agency-header h1 {
  color: white;
}
.node-type-reisaanbieder .agency-content {
  background: white;
  padding: 30px;
  border: 1px solid #E0E0E0;
}
.node-type-reisaanbieder .agency-content h3 {
  margin-top: 0;
  font-family: Oxygen;
  font-weight: bold;
  color: #95989A;
}
.node-type-reisaanbieder .overlap {
  margin-top: -50px;
}
.node-type-reisaanbieder .agency-logo {
  border: 1px solid #E0E0E0;
}
/* ==========================================================================
Footer
========================================================================== */
#footer {
  margin-top: 50px;
  position: relative;
  z-index: 2;
}
#footer .newsletter {
  background: #4894FF;
  padding: 20px 0;
}
#footer .newsletter p {
  color: white;
  margin: 0;
  line-height: 40px;
}
#footer .newsletter .input-group .form-control {
  border-radius: 5px 0 0 5px;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  color: white;
  padding: 20px 15px;
}
#footer .newsletter .input-group .form-control::-webkit-input-placeholder {
  color: white;
}
#footer .newsletter .input-group .input-group-addon {
  background: #9DD915;
  color: white;
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
  border: 3px solid #4186E6;
  padding: 10px 30px;
}
#footer .main-content {
  background: url(../img/footer-background.jpg);
  background-size: cover;
  padding: 100px 0;
  color: white;
  position: relative;
}
#footer .main-content h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#footer .main-content p {
  color: white;
  line-height: 1.8em;
}
#footer .main-content .logo {
  margin-bottom: 1em;
}
#footer .main-content .menu-list {
  list-style: none;
  padding: 0;
}
#footer .main-content .menu-list li a {
  color: white;
  margin-bottom: 15px;
  display: block;
}
#footer .main-content .palm {
  position: absolute;
  bottom: 0;
  right: 0;
}
#footer .main-content .contact a {
  font-weight: bold;
  color: white;
  text-decoration: underline;
}
#footer .lower-footer {
  background: #4E92DC;
  padding: 20px 0;
}
#footer .lower-footer p {
  margin: 0;
  color: white;
}
/* ==========================================================================
Forms
========================================================================== */
.form-item label {
  font-size: 14px;
}
.form-item .form-text,
.form-item .form-textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
}
/* ==========================================================================
Homepage
========================================================================== */
/* Section name */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* ==========================================================================
IE bugfixes, good luck astronaut
========================================================================== */
/* ==========================================================================
IE bugfixes, good luck astronaut
========================================================================== */
/* Lower then IE9 */
