
/* ==========================================================================
LESS variables
========================================================================== */

/* Less prefixer */
@import "prefixer.less";

/* Colors */
@text-color: #333;
@link-color: #428BCA;

/* Typography */
@font-size-paragraph: 14px;
@font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Bootstrap breakpoints */
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


/* ==========================================================================
Global style
========================================================================== */
body {
	font-family: @font-family-primary;
	background: #F3F1E4;
	margin-bottom: 500px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-secondary;
	line-height: 1.2em;
}
h1 {
	font-size: 48px;
} 
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: @text-color;
	font-size: @font-size-paragraph;
}
a,
a:hover,
a:active,
a:visited {
	color: @link-color;
}
img {
    height: auto;
    max-width: 100%;
}


/* ==========================================================================
Navigation
========================================================================== */

.navbar-default {
	background: #5B9DF4;
    padding: 15px 0;
    margin: 0;
	border: none;

	.logo {
		background: url(../img/logo.svg);
	    margin: 7px 0;
	    width: 120px;
    	height: 35px;
	}
	.navbar-nav > .active > a {
		background: none;
		color: white;
		text-transform: uppercase;
	}
	.navbar-nav > li > a {
		color: white;
		text-transform: uppercase;
	}
	.navbar-form {
		.form-control {
		    transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
			box-shadow: inset 0px -1px rgba(255, 255, 255, 0.4);
			border-radius: 35px;
			background: #6280BF;
			padding-left: 15px;
			color: white;
			width: 250px;
		    border: 0;

		    &::-webkit-input-placeholder {
		    	color: rgba(255,255,255, 0.6);
		    }
		}
		.expand {
			width: 400px;
		}
	}
	.search {
	    position: absolute;
	    top: 0;
	    right: 0;
	    cursor: pointer;

	    .fa-search {
	    	color: white;
			position: absolute;
			top: 34%;
			left: 64%;
			transform: translateX(-50%) translateY(-50%);
			transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	    }
	    &:hover .fa-search {
			font-size: 2.5em;
		}
	}
}

/* ==========================================================================
Header
========================================================================== */

.header {
	background-size: cover;
	height: 600px;
	width: 100%;
	background-position: center;
}
.sort-bar {
	background: white;
	border-top: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	padding: 20px 0;

	ul {
		margin: 0;
		text-transform: uppercase;
	}
}

/* ==========================================================================
Index page
========================================================================== */

.vacation-item {
	background: white;
    height: 300px;
    border-radius: 0;
    margin-bottom: 30px;

    .placeholder-img {
	    width: 100%;
    	height: 175px;
    	background: url(../img/placeholder-vacation.jpg);
    	background-size: cover;
    }
    .content {
    	padding: 20px;

    	h2 {
    		font-size: 16px;
    		font-family: 'Oxygen', sans-serif;
    		color: #676767;
    		margin-top: 0;
    	}
    	p {
		    color: #AAA;
    		font-size: 13px;
    	}
    }
}
.main-content {
	position: relative;

	.main-search-wrapper {
		position: relative;
		margin-top: 50px;
		margin-right: -15px;
		margin-bottom: 50px;
		margin-left: -15px;

		.fa-search {
			position: absolute;
			top: 8px;
			left: 0;
		}
		.fa {
			color: #AAA;
		}
		input {
			width: 100%;
		    background: none;
	    	border: none;
	    	border-bottom: 2px solid #AAAAAA;
	    	padding: 5px 0 5px 40px;
	    	font-family: 'Oxygen', sans-serif;
	    	font-weight: 300;
	    	font-size: 24px;

	    	&:focus {
	    		outline: none;
	    	}
		}
		.view-options {
			margin-top: 10px;
			text-align: right;

			.fa {
				margin-left:  10px;
				cursor: pointer;
			}
		}
	}
	.active {
	    color: #74AF2A !important;
	}
	.list-view {
		.vacation-item {
		    float: left;
    		width: 100%;
    		height: auto;
		}
		.col-md-3 {
			padding: 0;
		}
	}
	aside {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 250px;
	    height: 2000px;
	    background: #F7CE45;
	    padding: 30px;
	}
}

/* ==========================================================================
Footer
========================================================================== */



/* ==========================================================================
Forms
========================================================================== */
.form-item {
	label {
		font-size: @font-size-paragraph;
	}
	.form-text,
	.form-textarea {
		.box-sizing(border-box);
		max-width: 100%;
	}
}


/* ==========================================================================
Homepage
========================================================================== */

/* Section name */


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }


/* ==========================================================================
IE bugfixes, good luck astronaut
========================================================================== */
@import "ie.less";


