
/* ==========================================================================
LESS variables
========================================================================== */

/* Less prefixer */
@import "prefixer.less";

/* Colors */
@text-color: #333;
@link-color: #428BCA;

/* Typography */
@font-size-paragraph: 14px;
@font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Bootstrap breakpoints */
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


/* ==========================================================================
Global style
========================================================================== */
body {
	font-family: @font-family-primary;
	background: #F3F1E4;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-secondary;
	line-height: 1.2em;
}
h1 {
	font-size: 48px;
} 
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: @text-color;
	font-size: @font-size-paragraph;
}
a,
a:hover,
a:active,
a:visited {
	color: @link-color;
}
img {
    height: auto;
    max-width: 100%;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
a.logo {
    font-family: Kaushan Script;
    color: white;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
}
.bold {
	font-weight: bold;
}
.always-float {
	float: left !important;
}

/* ==========================================================================
Lazy image loading
========================================================================== */

.b-lazy {
   opacity:0;
   transform: scale(3);
   transition: all 500ms;
}
.b-loaded {
   opacity:1;
   transform: scale(1);
}

/* ==========================================================================
Navigation
========================================================================== */

.navbar-default {
	background: #5B9DF4;
    padding: 10px 0;
    margin: 0;
	border: none;
	border-radius: 0;

	.caret {
	    margin-bottom: 3px;
	}
	.logo {
	    margin: 7px 0 0 15px;
	}
	.navbar-nav > .active > a {
		background: none;
		color: white;
		text-transform: uppercase;
	}
	.navbar-nav > li > a {
		color: white;
		text-transform: uppercase;
	    font-size: 13px;
	    padding: 0 0 5px 0;
        margin: 20px 15px 0 15px;
	    font-family: Oxygen;
	    font-weight: bold;

	    &:hover {
	    	color: #4A6FA0;
	    	background: none;
	    }
	    &:after {
    		position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 2px;
			background: #4A6FA0;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: opacity 0.3s, -moz-transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			transform: translateY(10px);
	    }
	    &:hover::after, &:focus::after {
	    	opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
	    }
	}
	.navbar-nav > .active > a {
		background: none !important;

		&:hover {
			color: #4A6FA0;
		}
	}
	.navbar-toggle {
		&:hover {
			background: none;
		}
		.icon-bar {
		    background-color: #FFF;
		}
	}
	.navbar-form {
        float: right;
	    border: none;
	    box-shadow: none;
        margin: 11px 0 0 0;
        display: none;

		.form-control {
		    transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
			box-shadow: inset 0px -1px rgba(255, 255, 255, 0.4);
			border-radius: 35px;
			background: #6280BF;
			padding-left: 15px;
			color: white;
			width: 250px;
		    border: 0;

		    &::-webkit-input-placeholder {
		    	color: rgba(255,255,255, 0.6);
		    }
		}
		.expand {
			width: 400px;
		}
	}
	.search {
	    position: absolute;
	    z-index: 1;
	    top: 0;
	    right: 0;
	    cursor: pointer;
	    display: none;

	    .fa-search {
	    	color: white;
			position: absolute;
			top: 34%;
			left: 64%;
			transform: translateX(-50%) translateY(-50%);
			transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	    }
	    &:hover .fa-search {
			font-size: 2.5em;
		}
	}
}
.container .navbar-header {
	display: inline-block;
}

.responsive-menus {
    text-align: right;
    margin-top: -50px;
}
.responsive-menus.responsified {
	&.absolute {
    	float: right;
	}
	&.responsive-toggled span.toggler {
	    color: #3E669A;
	}
	span.toggler {
		background: none;
	    box-shadow: none;
	    margin-top: 7px;
	    font-size: 2em;
	    display: inline-block;
	    border: none !important;
	}
	.responsive-menus-simple {
		background: none;
		box-shadow: none;
		margin-top: 11px !important;
		border-radius: 0 !important;

		ul {
		    margin-left: -15px !important;
    		margin-right: -15px !important;
    		background: #5B9DF4;
    		box-shadow: 0px 4px 5px rgba(0,0,0,0.15);
		}
		li a {
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding: 1.5em 5%;
			font-weight: bold;
		}
		li:first-child a {
			border-top: 1px solid rgba(0,0,0,0.2);
		}
	}
}

// custom breakpoint to move the sibebar
@media (min-width: 800px) { 
	.navbar-default {
		.search {
			display: block;
		}
		.navbar-form {
			display: block;
		}
	}
}


/* ==========================================================================
Header
========================================================================== */

.header {
	background-size: cover;
	height: 400px;
	width: 100%;
	background-position: center;
	position: relative;

	// .frontpage-header {
 //        z-index: 10;
	//     color: white;
	//     font-family: Oxygen;
	//     text-align: center;
	//     max-width: 500px;
	//     font-size: 32px;
	//     line-height: 1.6;
	// }

	// &:after {
	// 	content: "";
	// 	background: linear-gradient(135deg, #517FBB, #45DEF7);
	// 	opacity: 0.85;
	// 	position: absolute;
	// 	height: 100%;
	// 	width: 100%;
	// }
}
.sort-bar {
	background: white;
	margin-bottom: 2em;
	padding: 20px;

	ul {
		margin: 0;
		text-transform: uppercase;

		li {
			cursor: pointer;
		}
	}
	.col-sm-8 {
		border-bottom: 1px solid #CBCBCB;
	    padding-bottom: 20px;
	}
	.col-sm-4 {
		padding-top: 20px;

		ul li {
			font-weight: bold;
		}
	}
	.fa-times-circle {
	    background: #4E8EC3;
	    color: white;
	    padding: 7px 10px 7px 5px;
	    border-radius: 35px 0 0 35px;
        line-height: 9px;
	}
	.fa-filter {
		cursor: pointer;
	    display: inline-block;
	    background: #4E8EC3;
	    height: 50px;
	    width: 50px;
	    border-radius: 100%;
	    padding: 15px;
	    position: absolute;
	    right: 15px;
	    bottom: -43px;
	    border: 5px solid #F3F1E4;
	    color: white;
	}
	.toggle-sort {
	    padding: 2px 0 1px 0;
	}
	.active.toggle-sort {
	    background: #4E8EC3;
	    color: white;
	    border-radius: 0 35px 35px 0;
        padding: 2px 10px 1px 0;
        float: right;

	    .fa-sort-desc, .fa-sort-asc {
			float: right;
			margin-left: 10px;
		    margin-top: -1px;
		}
		.fa-sort-asc {
	        margin-top: 14px;
    		line-height: 0;
		}
	}
}
@media (min-width: 768px) { 
	.sort-bar {
		.col-sm-8 {
		    border-bottom: none;
		    padding-bottom: 0;
		}
		.col-sm-4 {
			padding-top: 0;
		}
		.fa-filter {
			display: none;
		}
	}
}

/* ==========================================================================
Index page
========================================================================== */

.vacation-item {
    border-radius: 0;
    margin-bottom: 30px;
    background: white;

	a {
		text-decoration: none;
	}
    .placeholder-img {
	    width: 100%;
    	height: 175px;
    	background-size: cover;
    	position: relative;
    	// setting a background-color helps reduce flickering when the image is still loading
	    background-color: white;
	    overflow: hidden;

    	.star-rating {
    		color: #F7CE45;
    		padding: 10px 0 0 10px;

    		.fa {
    			margin-right: 5px;
		    	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    		}
    	}
    	.new-item {
    		position: absolute;
		    top: -15px;
		    right: -30px;
		    background: rgb(157, 217, 21);
		    color: white;
		    transform: rotate(45deg);
		    padding: 30px 25px 10px 25px;
		    font-weight: bold;
		    font-size: 10px;
    	}
    	.pricing {
		    background: #568DE8;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    color: white;
	        padding: 7px 20px;
		    font-family: Oxygen;
		    font-size: 16px;
		    margin: 0;
    	}
    }
    .content {
    	padding: 20px;
    	min-height: 142px;

    	h2 {
    		font-size: 16px;
    		font-family: 'Oxygen', sans-serif;
    		color: #676767;
    		margin-top: 0;
    	}
    	p {
		    color: #AAA;
    		font-size: 13px;
    		margin-bottom: 0;
    	}
    }
    & a:hover {
    	text-decoration: none;
    }
}
.main-content {
	position: relative;

	/* Same padding as the sidebar */
	.wrapper {
		padding-left: 0;
		min-height: 800px;
		transition: all 250ms linear;

		.container {
			width: 100%;
		}
	}
	.main-search-wrapper {
		position: relative;
		margin-top: 40px;
		margin-right: -15px;
		margin-bottom: 40px;
		margin-left: -15px;

		.fa-search {
			position: absolute;
			top: 8px;
			left: 15px;
		}
		.fa {
			color: #AAA;
		}
		input {
			width: 100%;
		    background: none;
	    	border: none;
	    	border-radius: 0;
	    	border-bottom: 2px solid #AAAAAA;
	    	padding: 5px 0 5px 40px;
	    	font-family: 'Oxygen', sans-serif;
	    	font-weight: 300;
	    	font-size: 24px;

	    	&:focus {
	    		outline: none;
	    	}
		}
		.view-options {
			margin-top: 10px;
			text-align: right;

			.fa {
				margin-left:  10px;
				cursor: pointer;
			}
			.active {
				color: #4E8EC3;
			}
		}
	}
	.list-view {
		.vacation-item {
		    float: left;
    		width: 100%;
    		height: auto;
		}
		.col-md-3 {
			padding: 0;
		}
	}
}
.no-results h2 {
    color: #B1AFA3;
    font-family: Oxygen;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 0;
}
@media (min-width: 1755px) { 
	/* Same padding as the sidebar */
	.main-content .wrapper {
		padding-left: 0px;

		.container {
			width: 1170px;
		}
	}
}

/* ==========================================================================
Index Sidebar
========================================================================== */
	
aside {
    float: left;
    margin-left: -300px;
    margin-bottom: -50px;
    width: 300px;
    min-height: 100%;
    background: #FFC54A;
    text-align: center;
    transition: all 250ms linear;
    left: 0;
    position: absolute;
    z-index: 10;

	hr {
	    border-color: #e6b243;
    	margin: 10px 0;
	}
	.filter.slider {
		padding: 15px 30px 40px 30px;

		h3 {
			float: none;
		}
	    #slider-handles {
	    	margin: 15px;

	    	.noUi-handle {
    		    background: #4E8EC3;
		    	box-shadow: none;
		    	border: 1px solid #467BA7;
	    	}
	    }
	    #slider-margin-value-min {
	    	float: left;
	    	font-weight: bold;
	    }
	    #slider-margin-value-max {
	    	float: right;
	    	font-weight: bold;
	    }
	}
	&.active {
	    left: 300px;
	}
    .filter {
    	text-align: left;
    	font-family: 'Oxygen', sans-serif;
    	border-bottom: 1px solid rgba(0,0,0, 0.1);
    	padding: 15px 30px;

		&:last-child {
			border: none;
		}
    	h3 {
		    font-weight: normal;
			font-size: 16px;
			margin: 0.5em 0 1em 0;
			float: left;
    	}
    	.filter-item {
    		position: relative;

	    	.filter-count {
			    box-shadow: inset 0px -1px rgba(255, 255, 255, 0.5);
			    background: rgba(0, 0, 0, 0.1);
			    border-radius: 10px;
			    padding: 0 12px;
			    color: white;
			    position: absolute;
	    		top: 3px;
	    		right: 5px;
	    	}
    	}
    	ul {
    		list-style-position: inside;
    		padding: 0;

    		li {
				padding: 3px 10px;
				margin-bottom: 5px;

    			&.active {
				    background: #4E8EC3;
				    border-radius: 35px;
				    color: white;
			    }
		    	&:hover {
		    		cursor: pointer;
		    	}
		    	&:last-child {
		    		margin: 0;
		    	}
    		}
    	}
    	.show-more {
    		text-align: center;
		    font-size: 12px;
		    font-weight: bold;
		    color: #7F6232;
		    margin-top: 10px;
    	}
    }
    .star-rating {
    	label {
    		display: block;
    		margin-bottom: 12px;
    	}
    	.fa-star {
    		color: #CBA049;
		    margin-right: 3px;
    	}
    	.checkbox input[type="checkbox"] {
    		margin-left: 0;
    	}
    }
}
// custom breakpoint to move the sibebar
@media (min-width: 992px) { 
	aside {
		margin-left: 0;
		position: relative;
	}
	.main-content .wrapper {
		padding-left: 300px;
	}
}



/* ==========================================================================
Vakantie pagina(single)
========================================================================== */

.node-type-vakantie {
	.vacation-header {
		height: 250px;
		background: url(../img/vacation-header.jpg) center center;
		background-size: cover;
		position: relative;
	}
	.header-single {
		height: 450px;
	}
	.vacation {
	    background: white;
	    padding: 40px;
	    line-height: 1.8em;
        min-height: 0;

	    h3 {
	    	margin-top: 0;
	    }
	    img {
	    	margin-top: 15px;
	    }
	    .social-media {
    	    position: absolute;
		    left: -37px;
		    background: white;
		    padding: 15px 8px;

		    a {
		    	display: block;
		    	margin-bottom: 8px;

		    	&:last-child {
		    		margin-bottom: 0;
		    	}
		    }
	    }

		.extra-info-header {
			font-weight: bold;
			margin: 15px 0 5px 0;
		}
	    .extra-info {
    	    background: #FFE8B9;
		    padding: 15px;
		    border-radius: 5px;
		    border: 1px solid #FFCA5C;

		    ul {
		    	margin: 0;
    			padding-left: 15px;
		    }
	    }
	}
	a.call-to-action {
		display: block;
	    background: #5B9DF4;
	    color: white;
	    text-align: center;
	    padding: 15px 0;
	    border-radius: 5px;
	    font-size: 18px;
	    margin-right: 15px;
	    position: relative;

	    margin-top: 20px;

		&:hover {
			color: white;
		}
	    .inner {
	    	background: #4D86D0;
		    display: inline-block;
		    padding: 10px 20px;
		    border-radius: 35px;
		    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.4);

		    .fa-plane {
		    	margin-left: 10px;
		    }
	    }
	    .circle {
		    background: #FF6255;
		    border-radius: 100%;
		    position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%) translateX(50%);
		    width: 50px;
		    height: 50px;
		    border: 5px solid #F3F1E4;

		    .fa-arrow-right {
	    	    margin: 11px 0 0 3px;
		    }
	    }
	}
	a.book-now {
    	padding: 10px 0;
    	text-decoration: none;

    	&:hover {
    		background: #528EDE;
    	}
	}
	.travel-information {
		margin: -111px 0 0 0;
		background: white;
		border-bottom: 1px solid lightgrey;

		.col-md-3 {
			padding: 20px;
			border-right: 1px solid lightgrey;

			&:nth-child(1), &:nth-child(2) {
			    border-bottom: 1px solid lightgrey;
			}
			&:last-child {
				border-right: none;
			}
			.fa {
				color: #5B9DF4;
				display: block;
				margin-bottom: 5px;
			}
			.travel-metadata {
				display: inline-block;
				font-family: Oxygen;

				.title {
					color: #95989A;
				}
				.attribute {
					font-weight: bold;
				    font-size: 0.85em;
				}
			}
		}
	}

	.pricing {
		text-align: center;
		color: white;
		font-family: Oxygen;
	    margin: 20px 0 0 0;

		.price {
		    background: #5B9DF4;
		    border-radius: 5px 5px 0 0;
		    padding: 10px 0;
		    font-size: 22px;
		}
		.person {
			background: rgba(0,0,0,0.4);
			padding: 10px 0;
			border-radius: 0 0 5px 5px;
			font-size: 18px;
		}
	}

	.weather {
		margin-top: 30px;
	    font-family: Oxygen;

		.main-temp {
			font-size: 48px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		.current-weather {
			border-radius: 5px 5px 0 0;
		    background: #FFCA5C;
		    color: white;
		    text-align: center;
		    padding: 15px 0;
		}
		.forecast {
			float: left;
			padding: 0;
			list-style: none;
			background: white;
			border-radius: 0 0 5px 5px;
		    padding: 5px 30px;

			li {
				line-height: 50px;
				float: left;
				width: 100%;

				.day {
					display: inline-block;
					color: #676767;
				}
				.temp {
					float: right;
					margin-right: 0;
					font-weight: bold;
				}
				img {
					float: right;
				}
			}
			
		}
	}
	.travel-provided-by {
	    background: white;
	    padding: 15px 30px;
	    border: 1px solid lightgrey;
	    margin-top: 30px;
	}
}
.related-vacations-header h3 {
    margin: 0 0 1em 0;
    font-family: Oxygen;
    font-weight: lighter;
    color: #84816D;
    font-size: 1.4em;
}


@media (min-width: @screen-md-min) { 
	.node-type-vakantie {
		.vacation {
			// min-height: 622px;
		}
		a.call-to-action {
			margin-right: 0;
		}
		.pricing {
		    margin: -110px 0 37px 0;
		}
		.travel-information .col-md-3 {
			&:nth-child(1), &:nth-child(2) {
			    border-bottom: none;
			}
		}
	}
}
@media (min-width: @screen-lg-min) { 
	.node-type-vakantie {
		.weather .forecast li .temp {
			margin-right: 40px;
		}
	}
}


/* ==========================================================================
Reisaanbieder pagina(single)
========================================================================== */

.node-type-reisaanbieder {
	.agency-header {
		height: 400px;
		background: url(../img/agency-header.jpg) center 70%;
		background-size: cover;
		position: relative;

		h1 {
			color: white;
		}
	}
	.agency-logo {
		display: block;
		margin-bottom: 20px;
	    background: white;

	    img {
    	    margin: 0 auto;
    		display: block;
	    }
	}
	.agency-content {
	    background: white;
    	padding: 30px;
	    border: 1px solid #E0E0E0;

    	h3 {
    		margin-top: 0;
		    font-family: Oxygen;
		    font-weight: bold;
		    color: #95989A;
    	}
    	.readmore + [data-readmore-toggle] {
		    background: #FF6255;
		    display: inline-block;
		    width: 50px;
		    height: 50px;
		    border-radius: 100%;
		    position: absolute;
		    left: 50%;
		    transform: translateX(-50%);
		    border: 5px solid #F3F1E4;
		    color: #FF6255;
		    padding: 5px;
		    z-index: 1;

		    &:before {
		    	content: "\f063";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			/*--adjust as necessary--*/
			    color: white;
			    font-size: 18px;
			    padding-right: 0.5em;
			    position: absolute;
			    top: 10px;
			    left: 11px;
			    text-decoration: none;
		    }
    	}
    	.readmore[aria-expanded="true"] + [data-readmore-toggle]:before {
			content: "\f062";
			top: 8px;
    	}
	}
	.overlap {
		margin-top: -50px;
	}
	.agency-logo {
	    border: 1px solid #E0E0E0;
	}
}

/* ==========================================================================
Reisaanbieder overzichtspagina
========================================================================== */

.reisaanbieders-overzicht {
	.absolute-center {
		max-height: 100%;
	}
	h2 {
	    font-family: Oxygen;
	    margin: 60px 0 30px 0;
	    text-align: center;
	    color: #5B9DF4;
	    font-size: 24px;
	    text-transform: uppercase;
	    display: inline-block;
	    border-bottom: 3px solid #9DD915;
	    padding-bottom: 10px;
	    font-weight: bold;
	}
	a {
		position: relative;
		height: 255px;
		background: white;
		display: block;
		margin-bottom: 30px;
	}
}

/* ==========================================================================
Filter overzichtspagina
========================================================================== */

.overview-heading {
	font-family: Oxygen;
    margin: 60px 0 30px 0;
    text-align: center;
    color: #5B9DF4;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 3px solid #9DD915;
    padding-bottom: 10px;
    font-weight: bold;
}

/* ==========================================================================
Blog pagina(single)
========================================================================== */

.blogpost {
	margin-top: 50px;

	a {
		text-decoration: none;
	}
	.blog-content {
		background: white;
		padding: 30px;
		line-height: 1.7;

		h1 {
			margin: 0 0 15px 0;
			font-size: 28px;
			color: #4E92DC;
		}
		h2 {
		    font-size: 16px;
    		color: #4E92DC;
    		margin-top: 0;
		}
		p {
			margin-bottom: 15px;

			&:last-child {
				margin: 0;
			}
		}
	}
}

/* ==========================================================================
Footer
========================================================================== */

#footer {
	margin-top: 50px;
	position: relative;
    z-index: 2;
    text-align: center;

	.newsletter {
		background: #4894FF;
		padding: 20px 0;

		p {
			color: white;
			margin: 0;
			line-height: 40px;
		}
		.simplenews-subscribe {
			position: relative;

			.form-item {
				margin: 0;
			}
			label {
				display: none;
			}
			#edit-mail {
				border-radius: 5px 0 0 5px;
				background: rgba(0,0,0,0.1);
				border: 0;
				color: white;
				padding: 10px 15px;
				width: 100%;

				&::-webkit-input-placeholder {
					color: white;
				}
			}
			#edit-submit {
				background: #9DD915;
			    color: white;
			    text-transform: uppercase;
			    border-radius: 0 5px 5px 0;
			    border: 3px solid #4186E6;
			    padding: 7px 30px;
			    position: absolute;
			    right: 0;
			    top: 0;
			}
		}
	}
	.main-content {
		background: url(../img/footer-background.jpg);
		background-size: cover;
		padding: 100px 0;
		color: white;
		position: relative;

		.container {
		    position: relative;
    		z-index: 1;
		}
		h3 {
		    font-size: 16px;
    		text-transform: uppercase;
    		margin-bottom: 1em;
		}
		p {
			color: white;
			line-height: 1.8em;
		}
		.logo {
			margin-bottom: 1em;
		}
		.menu-list {
			list-style: none;
			padding: 0;

			li a {
				color: white;
				margin-bottom: 15px;
				display: block;
			}
		}
		.palm {
			position: absolute;
			bottom: 0;
			right: 0;
			display: none;
		}
		.contact a {
			font-weight: bold;
			color: white;
			text-decoration: underline;
		}
		.contact .social-link {
			text-decoration: none;

			&:hover {
				color: lightgrey;
			}
			.fa {
				margin-right: 5px;
				font-size: 2.5em;
			}
		}
	}
	.lower-footer {
		background: #4E92DC;
		padding: 20px 0;

		p {
			margin: 0;
			color: white;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	#footer {
		text-align: left;

		.main-content .palm {
			display: block;
		}
	}
}

/* Small devices 1600px and up */
@media (max-width: 1600px) {
	#footer .main-content .palm {
		max-height: 275px;
	}
}
/* Small devices 1100px and up */
@media (max-width: 1100px) {
	#footer .main-content .palm {
		max-height: 250px;
	}
}

/* ==========================================================================
Forms
========================================================================== */
.form-item {
	label {
		font-size: @font-size-paragraph;
	}
	.form-text,
	.form-textarea {
		.box-sizing(border-box);
		max-width: 100%;
	}
}

/* ==========================================================================
Labels, buttons, etc.
========================================================================== */

.skewed-label {
	color: white;
    line-height: 0;
    transform: skewY(-3deg) translateY(-50%) translateX(-50%);
    top: 40%;
    text-align: center;

    h1 {
    	padding: 15px 30px;
    	font-size: 30px;
    	margin: 0;
    	background: #5B9DF4;
    }
    h2 {
	    padding: 8px 20px;
	    font-size: 16px;
	    background: #9dd915;
	    margin: 0;
	    display: inline-block;
    }
}
.index-header .skewed-label {
	top: 50%;
}
.agency-header .skewed-label {
	top: 45%;
}

/* ==========================================================================
Contact form
========================================================================== */

.contact-header {
	position: relative;
	background-size: cover;
    height: 300px;
    width: 100%;

	.absolute-center {
		color: white;
		top: 25%;
		text-align: center;
	    
	    h2 {
	    	font-size: 26px;
	    }
	}
}
.contact-us {
	margin-top: -150px;
	margin-bottom: 100px;
}
.form-wrapper {
	background: white;
	font-family: Oxygen;
	padding: 30px;

	h2 {
		color: #F8B332;
	    font-size: 24px;
	    font-weight: bold;
	    margin-top: 0;
	}
	input, textarea {
		background: #EBEBEB;
	    border: none;
	    padding: 10px;
	    border-radius: 5px;
	    width: 100%;
	}
	.form-actions {
		text-align: center;
		margin-bottom: 0;

		.webform-submit {
			width: auto;
			padding: 10px 50px;
			background: #F8B332;
			color: white;

			&:hover {
				background: #FFC14D;
			}
		}
	}
}
.contact-form-img {
	overflow: hidden;

	.palmtree {
		height: 497px;
		background: url(../img/palmtree.jpg) no-repeat;
		display: none;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	.contact-header .absolute-center {
		h2 {
			font-size: 32px;
		}
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	.contact-header {
		height: 500px;

		.absolute-center {
			top: 40%;
		}
	}
	.contact-form-img .palmtree {
		display: block;
	}
	.contact-us .col-md-6 {
		padding: 0 !important;
	}
}


/* ==========================================================================
Homepage
========================================================================== */

/* Section name */


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }


/* ==========================================================================
IE bugfixes, good luck astronaut
========================================================================== */
@import "ie.less";


