
/* ==========================================================================
LESS variables
========================================================================== */

/* Less prefixer */
@import "prefixer.less";

/* Colors */
@text-color: #333;
@link-color: #428BCA;

/* Typography */
@font-size-paragraph: 14px;
@font-family-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-secondary: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Bootstrap breakpoints */
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


/* ==========================================================================
Global style
========================================================================== */
body {
	font-family: @font-family-primary;
	background: #F3F1E4;
}
h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-secondary;
	line-height: 1.2em;
}
h1 {
	font-size: 48px;
} 
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 21px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: @text-color;
	font-size: @font-size-paragraph;
}
a,
a:hover,
a:active,
a:visited {
	color: @link-color;
}
img {
    height: auto;
    max-width: 100%;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}
.logo {
	background: url(../img/logo.svg);
	display: block;
    margin: 7px 0;
    width: 120px;
	height: 35px;
}
.bold {
	font-weight: bold;
}

/* ==========================================================================
Navigation
========================================================================== */

.navbar-default {
	background: #5B9DF4;
    padding: 15px 0;
    margin: 0;
	border: none;
	border-radius: 0;

	.caret {
	    margin-bottom: 3px;
	}
	.logo {
	    margin: 7px 0;
	}
	.navbar-nav > .active > a {
		background: none;
		color: white;
		text-transform: uppercase;
	}
	.navbar-nav > li > a {
		color: white;
		text-transform: uppercase;
	    font-size: 13px;
	    padding-bottom: 10px;
	    padding-top: 20px;
	}
	.navbar-form {
	    position: absolute;
	    top: 20px;
    	right: 0;

		.form-control {
		    transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
			box-shadow: inset 0px -1px rgba(255, 255, 255, 0.4);
			border-radius: 35px;
			background: #6280BF;
			padding-left: 15px;
			color: white;
			width: 250px;
		    border: 0;

		    &::-webkit-input-placeholder {
		    	color: rgba(255,255,255, 0.6);
		    }
		}
		.expand {
			width: 400px;
		}
	}
	.search {
	    position: absolute;
	    z-index: 1;
	    top: 0;
	    right: 0;
	    cursor: pointer;

	    .fa-search {
	    	color: white;
			position: absolute;
			top: 34%;
			left: 64%;
			transform: translateX(-50%) translateY(-50%);
			transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	    }
	    &:hover .fa-search {
			font-size: 2.5em;
		}
	}
}

/* ==========================================================================
Header
========================================================================== */

.header {
	background-size: cover;
	height: 500px;
	width: 100%;
	background-position: center;
}
.sort-bar {
	background: white;
	border-top: 1px solid #CBCBCB;
	border-bottom: 1px solid #CBCBCB;
	padding: 20px 0;

	ul {
		margin: 0;
		text-transform: uppercase;

		li {
			cursor: pointer;
		}
	}
	.col-sm-8 {
		border-bottom: 1px solid #CBCBCB;
	    padding-bottom: 20px;
	}
	.col-sm-4 {
		padding-top: 20px;

		ul li {
			font-weight: bold;
		}
	}
	.fa-times-circle {
	    background: #4E8EC3;
	    color: white;
	    padding: 5px 7px 4px 4px;
	    border-radius: 35px 0 0 35px;
	}
	.active.toggle-sort {
	    background: #4E8EC3;
	    color: white;
	    border-radius: 0 35px 35px 0;
        padding: 2px 9px 1px 4px;
        float: right;

	    .fa-sort-desc, .fa-sort-asc {
			float: right;
			margin-left: 10px;
		    margin-top: -1px;
		}
		.fa-sort-asc {
	        margin-top: 14px;
    		line-height: 0;
		}
	}
}
@media (min-width: 768px) { 
	.sort-bar {
		.col-sm-8 {
		    border-bottom: none;
		    padding-bottom: 0;
		}
		.col-sm-4 {
			padding-top: 0;
		}
	}
}

/* ==========================================================================
Index page
========================================================================== */

.vacation-item {
    border-radius: 0;
    margin-bottom: 30px;
    background: white;

    .placeholder-img {
	    width: 100%;
    	height: 175px;
    	background-size: cover;
    	position: relative;

    	.star-rating {
    		color: #F7CE45;
    		padding: 10px 0 0 10px;

    		.fa {
    			margin-right: 5px;
		    	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    		}
    	}
    	.pricing {
		    background: #568DE8;
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    color: white;
	        padding: 7px 20px;
		    font-family: Oxygen;
		    font-size: 16px;
		    margin: 0;
    	}
    }
    .content {
    	padding: 20px;
    	min-height: 142px;

    	h2 {
    		font-size: 16px;
    		font-family: 'Oxygen', sans-serif;
    		color: #676767;
    		margin-top: 0;
    	}
    	p {
		    color: #AAA;
    		font-size: 13px;
    		margin-bottom: 0;
    	}
    }
    & a:hover {
    	text-decoration: none;
    }
}
.main-content {
	position: relative;

	/* Same padding as the sidebar */
	.wrapper {
		padding-left: 0;
		min-height: 800px;
		transition: all 250ms linear;

		.container {
			width: 100%;
		}
	}
	.main-search-wrapper {
		position: relative;
		margin-top: 50px;
		margin-right: -15px;
		margin-bottom: 50px;
		margin-left: -15px;

		.fa-search {
			position: absolute;
			top: 8px;
			left: 15px;
		}
		.fa {
			color: #AAA;
		}
		input {
			width: 100%;
		    background: none;
	    	border: none;
	    	border-bottom: 2px solid #AAAAAA;
	    	padding: 5px 0 5px 40px;
	    	font-family: 'Oxygen', sans-serif;
	    	font-weight: 300;
	    	font-size: 24px;

	    	&:focus {
	    		outline: none;
	    	}
		}
		.view-options {
			margin-top: 10px;
			text-align: right;

			.fa {
				margin-left:  10px;
				cursor: pointer;
			}
			.active {
				color: #4E8EC3;
			}
		}
	}
	.list-view {
		.vacation-item {
		    float: left;
    		width: 100%;
    		height: auto;
		}
		.col-md-3 {
			padding: 0;
		}
	}
}
.no-results h2 {
    color: #B1AFA3;
    font-family: Oxygen;
    font-size: 24px;
    line-height: 1.6;
    margin-top: 0;
}
@media (min-width: 1755px) { 
	/* Same padding as the sidebar */
	.main-content .wrapper {
		padding-left: 0px;

		.container {
			width: 1170px;
		}
	}
}

/* ==========================================================================
Index Sidebar
========================================================================== */
	
aside {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 110%;
    background: #FFC54A;
    text-align: center;
    transition: all 250ms linear;

    .btn {
	    margin: 60px auto 0px auto;
	    background: rgb(210, 175, 59);
	    color: white;
	    font-family: Oxygen;
	    border-radius: 25px;
	    font-weight: 300;
	    padding: 6px 20px;
	    display: inline-block;
	    text-align: center;
	    text-spacing: 1px;
        letter-spacing: 0.08em;
    }
    .filter {
    	text-align: left;
    	font-family: 'Oxygen', sans-serif;
    	border-bottom: 1px solid rgba(0,0,0, 0.1);
    	padding: 20px 30px 30px 30px;

		&:last-child {
			border: none;
		}
    	h3 {
		    font-weight: normal;
			font-size: 16px;
			margin-bottom: 1em;
			float: left;
    	}
    	.filter-count {
		    float: right;
		    margin: 1em 0;
		    background: #4E8EC3;
		    color: white;
		    border-radius: 35px;
		    padding: 2px 12px;
    	}
    	ul {
    		padding-left: 16px;

    		li {
    			margin-bottom: 10px;
    		}
    	}
    	.show-more {
    		text-align: center;
		    font-size: 12px;
		    font-weight: bold;
		    color: #7F6232;
		    margin-top: 15px;
    	}
    	.countries li {
    		&.active {
			    background: #4E8EC3;
			    border-radius: 35px;
			    padding: 3px 20px;
			    color: white;
			    margin-bottom: 7px;
		    }
	    	&:hover {
	    		cursor: pointer;
	    	}
    	}
    }
    .star-rating {
    	label {
    		display: block;
    		margin-bottom: 12px;
    	}
    	.fa-star {
    		color: #CBA049;
		    margin-right: 3px;
    	}
    	.checkbox input[type="checkbox"] {
    		margin-left: 0;
    	}
    }
}
// custom breakpoint to move the sibebar
@media (min-width: 800px) { 
	aside {
		left: 0;
	}
	.main-content .wrapper {
		padding-left: 300px;
	}
}



/* ==========================================================================
Vakantie pagina(single)
========================================================================== */

.node-type-vakantie {
	.vacation-header {
		height: 500px;
		background: url(../img/vacation-header.jpg) center center;
		background-size: cover;
		position: relative;

		h1 {
			color: white;
		}
	}
	.vacation {
	    background: white;
	    padding: 40px;
	    line-height: 1.8em;

	    h3 {
	    	margin-top: 30px;
	    }
	}
	a.call-to-action {
		display: block;
	    background: #5B9DF4;
	    color: white;
	    text-align: center;
	    padding: 15px 0;
	    border-radius: 5px;
	    font-size: 18px;
	    position: relative;

	    margin-top: 20px;

		&:hover {
			color: white;
		}
	    .inner {
	    	background: #4D86D0;
		    display: inline-block;
		    padding: 10px 20px;
		    border-radius: 35px;
		    box-shadow: inset 0 -1px rgba(255, 255, 255, 0.4);

		    .fa-plane {
		    	margin-left: 10px;
		    }
	    }
	    .circle {
		    background: #FF6255;
		    border-radius: 100%;
		    position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%) translateX(50%);
		    width: 50px;
		    height: 50px;
		    border: 5px solid #F3F1E4;

		    .fa-arrow-right {
	    	    margin: 11px 0 0 3px;
		    }
	    }
	}
	.travel-information {
		margin: -123px 0 0 0;
		background: white;
		border-bottom: 1px solid lightgrey;

		.col-md-3 {
			padding: 40px 0;
			border-right: 1px solid lightgrey;

			&:last-child {
				border-right: none;
			}
			.fa {
				color: #5B9DF4;
				margin-right: 10px;
			}
			.travel-metadata {
				display: inline-block;
				text-align: left;
				font-family: Oxygen;

				.title {
					color: #95989A;
				}
				.attribute {
					font-weight: bold;
				}
			}
		}
	}

	.pricing {
		text-align: center;
		color: white;
		font-family: Oxygen;
	    margin: -124px 0 57px 0;

		.price {
		    background: #5B9DF4;
		    border-radius: 5px 5px 0 0;
		    padding: 10px 0;
		    font-size: 22px;
		}
		.person {
			background: rgba(0,0,0,0.4);
			padding: 10px 0;
			border-radius: 0 0 5px 5px;
			font-size: 18px;
		}
	}

	.weather {
		margin-top: 30px;

		.current-weather {
			border-radius: 5px 5px 0 0;
		    background: #FFCA5C;
		    color: white;
		    font-family: Oxygen;
		    text-align: center;
		    padding: 20px 0;
		}
		.forecast {
			float: left;
			padding: 0;
			list-style: none;
			background: white;
			border-radius: 0 0 5px 5px;

			li {
				line-height: 50px;
			    padding-left: 20px;
				float: left;
				width: 100%;

				.day {
					display: inline-block;
				}
				.temp {
					float: right;
					margin-right: 40px;
				}
				img {
					float: right;
					margin-right: 20px;
				}
			}
			
		}
	}
	.related-vacations-header h3 {
	    margin: 2em 0 1em 0;
	    font-family: Oxygen;
	    font-weight: lighter;
	    color: #84816D;
	    font-size: 1.4em;
	}
}

/* ==========================================================================
Reisaanbieder pagina
========================================================================== */

.node-type-reisaanbieder {
	.agency-header {
		height: 600px;
		background: url(../img/agency-header.jpg) center 70%;
		background-size: cover;
		position: relative;

		h1 {
			color: white;
		}
	}
	.agency-content {
	    background: white;
    	padding: 30px;
	    border: 1px solid #E0E0E0;

    	h3 {
    		margin-top: 0;
		    font-family: Oxygen;
		    font-weight: bold;
		    color: #95989A;
    	}
	}
	.overlap {
		margin-top: -50px;
	}
	.agency-logo {
	    border: 1px solid #E0E0E0;
	}
}

/* ==========================================================================
Footer
========================================================================== */

#footer {
	margin-top: 50px;

	.newsletter {
		background: #4894FF;
		padding: 20px 0;
		position: relative;

		p {
			color: white;
			margin: 0;
			line-height: 40px;
		}
		.input-group {
			.form-control {
				border-radius: 5px 0 0 5px;
				background: rgba(0,0,0,0.1);
				border: 0;
				color: white;
				padding: 20px 15px;

				&::-webkit-input-placeholder {
					color: white;
				}
			}
			.input-group-addon {
			    background: #9DD915;
			    color: white;
			    text-transform: uppercase;
			    border-radius: 0 5px 5px 0;
			    border: 3px solid #4186E6;
			    padding: 10px 30px;
			}
		}
	}
	.main-content {
		background: url(../img/footer-background.jpg);
		background-size: cover;
		padding: 100px 0;
		color: white;
		position: relative;

		h3 {
		    font-size: 16px;
    		text-transform: uppercase;
    		margin-bottom: 1em;
		}
		p {
			color: white;
			line-height: 1.8em;
		}
		.logo {
			margin-bottom: 1em;
		}
		.menu-list {
			list-style: none;
			padding: 0;

			li a {
				color: white;
				margin-bottom: 15px;
				display: block;
			}
		}
		.palm {
			position: absolute;
			bottom: 0;
			right: 0;
		}
		.contact a {
			font-weight: bold;
			color: white;
			text-decoration: underline;
		}
	}
	.lower-footer {
		background: #4E92DC;
		padding: 20px 0;

		p {
			margin: 0;
			color: white;
		}
	}
}


/* ==========================================================================
Forms
========================================================================== */
.form-item {
	label {
		font-size: @font-size-paragraph;
	}
	.form-text,
	.form-textarea {
		.box-sizing(border-box);
		max-width: 100%;
	}
}


/* ==========================================================================
Homepage
========================================================================== */

/* Section name */


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }


/* ==========================================================================
IE bugfixes, good luck astronaut
========================================================================== */
@import "ie.less";


